<h3>Gunners Recorded:</h3>
<table>
  <thead>
    <th>Name</th>
    <th>Registered Guns</th>
  </thead>
  <tbody>
    {{#each guns}}
    <tr>
      <td>{{Name}}</td>
      <td>{{RegisteredGuns}}</td>
    </tr>
  </tbody>
  {{/each}}
</table>